{% extends 'base.html' %}

{% block content %}

<!-- Content -->
<section>
	<header class="main">
		<h1>Contact me</h1>
	</header>

	<span class="image main"><img src="{{ url_for('static', filename='images/pic11.jpg') }}" alt="" /></span>

    <form method="post" action="">
        {{ form.hidden_tag() }}
        <div class="row gtr-uniform">
            <div class="col-12 col-12-xsmall">
                {{ form.name() }}
            </div>
            <div class="col-12 col-12-xsmall">
                {{ form.email() }}
            </div>
            <div class="col-12 col-12-xsmall">
                {{ form.subject() }}
            </div>
            <!-- Break -->
            <div class="col-12 col-12-small">
                {{ form.copy() }}
                {{ form.copy.label }}
            </div>
            <!-- Break -->
            <div class="col-12">
                {{ form.message(rows='5') }}
            </div>
            <!-- Break -->
            <div class="col-12">
                <ul class="actions">
                    {{ form.submit() }}
                    <!-- <li><input type="reset" value="Reset" /></li> -->
                </ul>
            </div>
        </div>
    </form>



</section>

{% endblock %}