{% extends 'base.html' %}

{% block content %}

<!-- Header -->
<header id="header">
	<h1>Recipe book</h1>
</header>

{% with messages = get_flashed_messages() %}
{% if messages %}
<ul>
	{% for message in messages %}
	<li>{{ message }}</li>
	{% endfor %}
</ul>
{% endif %}
{% endwith %}

<!-- Banner -->
<section id="banner">
	<div class="content">
		<header>
			<h2>Your personal online cookbook</h2>
			<p>Log in, save, and access your favorite recipes anytime, anywhere!</p>
		</header>
		<p>Welcome to Recipe Book, your personal online cookbook where you can effortlessly store, organize, and access your favorite recipes anytime, anywhere. Just sign up to get started and easily browse your saved recipes or add new ones. </p>
		<p>Whether you're a home cook or a professional chef, this platform makes keeping track of your favorite dishes simple and enjoyable! 🍽️✨</p>
		<!-- <ul class="actions">
			<li><a href="#" class="button big">Learn More</a></li>
		</ul> -->
	</div>
	<span class="image object">
		<img src=" {{ url_for('static', filename='images/recipe_book.jpg') }}" alt="" />
	</span>
</section>

{% endblock %}

				